<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">DEMO 1 SENZA
        COMPONENTI</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">DEMO 2</a></li>
    <li><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">DEMO 3</a></li>
    <li><a routerLink="/third-component" routerLinkActive="active" ariaCurrentWhenActive="page">DEMO 3</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>